---
import TopbarSponsor from "./TopbarSponsor.astro";

export interface SponsorAd {
    id: string;
    name: string;
    label: string;
    description: string;
    url: string;
    active: boolean;
}

interface Props {
    sponsor: SponsorAd | null;
}

const { sponsor } = Astro.props as Props;
---

<aside class="sponsor-ad-card">
    <div class="sponsor-ad-body">
        <TopbarSponsor
            sponsor={sponsor
                ? {
                      name: sponsor.name,
                      description: sponsor.description,
                      url: sponsor.url,
                  }
                : null}
        />
    </div>
</aside>
