<header class="bar" id="curve-bar">
    <a class="brand" href="/" aria-label="Curvoteca home">
        <img
            class="brand-mark"
            src="/favicon.svg"
            alt=""
            width="13"
            height="13"
        />
        <h1>curvoteca</h1>
    </a>
    <div class="tools"></div>
</header>
